
table {
    /* border-collapse: collapse; */
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    font-size: 16px;
  }
  
  th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 3px solid #383333;
    border-right: 3px solid #383333;
    color: rgb(135, 87, 87)
    ;
  }
  
  th {
    background-color: #dac4c4;
    font-weight: bold;
  }
  
  tr:hover {
    background-color: rgb(137, 137, 224);
    color: white;
  }
  
  
  table {
    border: 3px solid #393333;
  }

.myborder{
  border:1px solid;
  padding:20px;
  border-radius: 10px;
  
}
.title{
  text-align: center;
}
.thumbnail{
  padding: 10px;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}


.stars input[type="radio"] {
  display: none;
}

.stars label.star:before {
  content: '\2605';
  font-size: 30px;
  color: gray;
}

.stars input[type="radio"]:checked + label.star:before {
  color: gold;
}
.star:hover{
color: yellow;
}